.container {
    max-width: 70vmin;
}

.title {
    font-size: 3.7vmin;
}

.game {
    width: 70vmin;
    min-height: 70vmin;
}

.scores {
    font-size: 4vmin;
}

.choices {
    font-size: 5.5vmin;
}

.end-message,
#new-btn {
    font-size: 5vmin;
}

.round-mess-container {
    min-height: 5vmin;
}
.round-message {
    font-size: 2.5vmin;
}

button {
    font-size: 4vmin;
}

.github-icon {
    width: 5vmin;
}

.credits-btn-container {
    width: 5vmin;
    height: 5vmin;
}

.credits-btn {
    width: 5vmin;
    height: 5vmin;
}

.credits {
    width: 25vmin;
    font-size: 1.7vmin;
}

.close {
    font-size: 2.5vmin;
}

.shrink {
    transition-duration: 0.1s;
    width: 1.2vmin;
    height: 1.2vmin;
}