html {
    font-size: 17px;
}

@media screen and (max-width: 430px) {
    html {
        font-size: 12px;
    }  
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url('/images/bg.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: auto 100%;
    background-position-x: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    font-family: 'Roboto', Verdana, Geneva, Tahoma, Arial, Helvetica, sans-serif;
}

button {
    border: none;
    background-color: white;
    color: rgba(0, 0, 0, 0.906);
    font-size: 1.6rem;
    font-weight: 900;
    font-family: 'Roboto', Verdana, Geneva, Tahoma, Arial, Helvetica, sans-serif;
    padding: 10px 0px;
}

button:hover {
    background-color: rgba(44, 44, 44, 0.978);
    color: white;
}

button:focus {
    outline-color: transparent;
    background-color: rgba(61, 61, 61, 0.978);
    color: white;
}

.container {
    display: flex;
    flex-direction: column;
    max-width: 70vh;
}

.title {
    line-height: 1.2;
    font-family: 'Rammetto One', sans-serif;
    font-size: 2rem;
    font-weight: 900;
    text-align: center;
    color: rgba(200, 255, 0, 0.922);
    text-shadow: 9px 0px rgba(225, 0, 255, 0.575);
    margin: 5% 5px 30px;
}

.game {
    margin: 0px 5px;
    border-radius: 7px;
}

.scores {
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
    display: flex;
    justify-content: space-around;
    font-size: 2rem;
    font-weight: 900;
    padding: 5px 10px;
    color: #0a3c91;
    background: rgba(255, 255, 255, 0.882);
}

.board {
    min-height: 300px;
    position: relative;
    background: rgba(255, 255, 255, 0.75);
}

.graphic {
    display:flex;
    justify-content: space-between;
    align-items: flex-end;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;    
}

.img-human {
    min-width: 80px;
    max-width: 200px;
    width: 100%;
    margin-bottom: -10px;
}

.img-comp {
    min-width: 60px;
    max-width: 150px;
    width: 100%;
    margin-bottom: -5px;
}

.choices {
    flex: 1;
    min-width: 120px;
    display: flex;
    justify-content: space-around;
    align-self: stretch;
    padding-right: 10px;
}

.player-choice {
    font-size: 2.3rem;
    font-weight: bolder;
    writing-mode: vertical-lr;
    color: white;
    background-color: #fc3c21c7;
    padding-top: 10px;
    margin-top: 6px;
}

.comp-choice {
    align-self: flex-end;
    font-size: 2.3rem;
    font-weight: bolder;
    text-align: end;
    writing-mode: vertical-rl;
    color: white;
    background-color: #fc3c21c7;
    padding: 10px 0px;
}

.round-mess-container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 50px;
    position: relative;
    background: rgba(255, 255, 255, 0.75);
}

.round-message {
    text-align: center;
    position: absolute;
    width: 100%;
    opacity: 0;
    visibility: hidden;
    background-color: rgba(245, 245, 245, 0.811);
    font-size: 1.5rem;
    font-weight: 300;
    text-align: center;
    border:2px 2px 2px 2px solid white;
    border-radius: 7px;
    padding: 5px;
    transition-delay: 0s;
}

.player-buttons {
    display: flex;
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;
    overflow: hidden;
}

.player-btn {
    flex:auto;
    transition: all 0.5s;
}

.inactive {
    pointer-events: none;
}

.end-screen {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    top: 20%;
    bottom: 40%;
    left: 10%;
    width: 80%;
    height: 60%;
    opacity: 0;
    visibility: hidden;
    /* transition-delay: 0s; */
    border-radius: 9px;
}

.end-mess-container {
    flex:1;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(245, 245, 245, 0.811);
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
}

.end-message {
    font-size: 2.3rem;
    font-weight: 900;
    color: rgb(54, 54, 54);
    text-shadow: 0px 0px 5px white;
}

#new-btn {
    background-color: rgba(61, 61, 61, 0.978);
    color: white;
    align-self: stretch;
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;
}

#new-btn:hover {
    background-color: rgba(255, 255, 255, 0.816);
    color: rgba(59, 59, 59, 0.788);
}

.blur {
    filter:blur(2px);
    transition: 5s;
}

.visible {
    opacity: 1;
    transition-duration: 1s;
    visibility: visible;
}

.credits {
    color: rgb(44, 44, 44);
    background-color: #ffffff;
    font-family: 'Roboto', Verdana, Geneva, Tahoma, Arial, Helvetica, sans-serif;
    font-weight: 300;
    padding: 1%;
    margin: 30px 5px 0px 5px;
    border-radius: 7px;
}
