* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid red; */
}

body {
    background-image: url('./images/bg.jpg');
    background-repeat: repeat-x;
    background-attachment: fixed;
    background-size: auto 100%;
    background-position-x: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    font-family: 'Roboto', Verdana, Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
}

a:link, a:visited {
    color: rgba(225, 0, 255, 0.575);
}

a:hover, a:active {
    color: rgba(0, 195, 255, 0.575);
}
  
/* ----------------------------------------------------- */
/* -------------------- container ---------------------- */
/* ----------------------------------------------------- */

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 95vw;
}

/* ----------------------------------------------------- */
/* -------------------- T I T L E ---------------------- */
/* ----------------------------------------------------- */

.title {
    line-height: 1.2;
    width: 100%;
    font-family: 'Rammetto One', sans-serif;
    font-size: 5.5vmin;
    font-weight: 900;
    text-align: center;
    color: rgba(200, 255, 0, 0.922);
    text-shadow: 1.1vmin 0px rgba(225, 0, 255, 0.575),
                 2vmin 0px rgba(0, 195, 255, 0.575);
    margin-top: 2vmin;
}


/* ----------------------------------------------------- */
/* --------------------- G A M E ----------------------- */
/* ----------------------------------------------------- */

.game {
    width: 100%;
    min-height: 95vmin;
    display: flex;
    flex-direction: column;
    border-radius: 7px;
    margin: 2vmin 0;
    background-image: url('./images/moon-bg.png');
    background-size: contain;
    background-position: bottom;
    background-repeat:no-repeat;
}


/* --------------------- Scores ------------------------ */

.scores {
    display: flex;
    justify-content: space-around;
    font-size: 7vmin;
    font-weight: 900;
    color: white;
    background: rgba(255, 255, 255, 0.750);
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
    padding: 1vmin;
}


/* ---------------------- Board ------------------------ */

.board {
    flex: 1;
    position: relative;
    background: rgba(255, 255, 255, 0.600);
}

.graphic {
    display:flex;
    height: 100%;  
    align-items: flex-end;
}

/* ----- Pictures ----- */
.human {
    flex: 3;
}

.comp {
    flex: 2;
}

.img-human, 
.img-comp {
    max-width: 100%;
}

/* ----- Choices ----- */
.choices {
    flex: 3;
    display: flex;
    justify-content: space-around;
    align-self: stretch;
    font-size: 7vmin;
    color: rgba(0, 0, 0, 0.570);
}

.player-choice {
    font-weight: bolder;
    writing-mode: vertical-lr;
    background-color: rgba(200, 255, 0, 0.800);
    padding-top: 1vmin;
    margin-top: 1vmin;
}

.comp-choice {
    align-self: flex-end;
    font-weight: bolder;
    writing-mode: vertical-rl;
    background-color: rgba(200, 255, 0, 0.800);
    padding: 1vmin 0;
}

/* -------------------- Game end ----------------------- */

.end-screen {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    top: 20%;
    bottom: 40%;
    left: 10%;
    width: 80%;
    height: 60%;
    opacity: 0;
    visibility: hidden;
    transition-delay: 0s;
    border-radius: 9px;
}

.end-mess-container {
    flex:1;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(245, 245, 245, 0.950);
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
    
}

.end-message {
    font-size: 7vmin;
    font-weight: 900;
    color: rgba(54, 54, 54, 0.89);
}


#new-btn {
    align-self: stretch;
    background-color: rgba(61, 61, 61, 0.978);
    color: rgba(255, 255, 255, 0.900);
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;
    font-size: 7vmin;
}

#new-btn:hover {
    background-color: rgba(255, 255, 255, 0.950);
    color: rgba(59, 59, 59, 0.788);
}


/* --------------------- Round end --------------------- */

.round-mess-container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 8vmin;
    position: relative;
    background: rgba(255, 255, 255, 0.600);
}

.round-message {
    position: absolute;
    width: 100%;
    opacity: 0;
    visibility: hidden;
    background-color: rgba(245, 245, 245, 0.811);
    font-size: 4vmin;
    font-weight: 300;
    text-align: center;
    border:2px 2px 2px 2px solid white;
    border-radius: 7px;
    padding: 0.5vmin;
    transition-delay: 0s;
}


/* ------------------- Player's  buttons---------------- */

button {
    border: none;
    background-color: rgba(255, 255, 255, 0.938);
    color: rgba(0, 0, 0, 0.806);
    font-size: 7vmin;
    font-weight: 900;
    font-family: 'Roboto', Verdana, Geneva, Tahoma, Arial, Helvetica, sans-serif;
    padding: 1vmin 0;
}

button:hover {
    background-color: rgba(44, 44, 44, 0.970);
    color: white;
}

button:focus {
    outline-color: transparent;
    background-color: rgba(61, 61, 61, 0.978);
    color: white;
}

.player-buttons {
    display: flex;
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;
    overflow: hidden;
}

.player-btn {
    flex:auto;
    transition: all 0.5s;
}

/* ----------------------------------------------------- */
/* ----------------- C R E D I T S --------------------- */
/* ----------------------------------------------------- */

.footer {
    flex: 1;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.git {    
    line-height: 0;
    margin-right: 3vmin;
}

.github {
    width: 8vmin;
}

.git,
.credits-btn-wrapper,
.credits {
    text-align: center; 
    color: rgb(44, 44, 44);
    background-color: rgba(255, 255, 255, 0.500);
    font-family: 'Roboto', Verdana, Geneva, Tahoma, Arial, Helvetica, sans-serif;
    font-weight: 300;
    font-size: 3vmin;
    border-radius: 7px;
    padding: 1%;
}

.credits-btn {
    position: relative;
    width: 8vmin;
    height: 8vmin;
    background-color: white;
    border-radius: 50%;
}

.credits {
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 50%;
    left: 0%;
    width: 40vmin;
    background-color: rgba(255, 255, 255, 0.950);
    border-bottom-left-radius: 0;
    padding: 1.25vmin;
    visibility: hidden;
}

.credits-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.8vmin;    
}

.credits-title {
    font-weight: 900;
}

.close {
    line-height: 1vmin;
    align-self: flex-start;
    color:rgba(225, 0, 255, 0.95);
    font-family: 'Fredoka One', cursive;
    font-size: 5vmin;
    text-shadow: 0.1vmin 0.1vmin 0.3vmin black;
    cursor: pointer;
}

.source {
    margin-bottom: 1.2vmin;
}

/* ----------------------------------------------------- */
/* ------------------- custom classes ------------------ */
/* ----------------------------------------------------- */

.blur {
    filter:blur(2px);
}

.visible {
    opacity: 1;
    transition-duration: 1s;
    visibility: visible;
}

.inactive {
    pointer-events: none;
}
